# SPDX-FileCopyrightText: 2026 SAP SE or an SAP affiliate company and Operational Context Graph contributors
#
# SPDX-License-Identifier: Apache-2.0
# Patterns to ignore when packaging the chart.
.DS_Store
.git/
.gitignore
*.tmproj
*.bak
*.orig
*~
